html {
  height: 100%;
  background: black;
}

body {
  height: inherit;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 50px;
  width: 100%;
  font-size: 20px;
  background: #03A9F4;
  color: aliceblue;
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
video{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
